<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052480759470-gegoffl51j9lukid4n0123p2uvtf51qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052480759470-gegoffl51j9lukid4n0123p2uvtf51qg</string>
	<key>API_KEY</key>
	<string>AIzaSyAiSAI6rZmYbfVH_DO5gbGE0ThKmG8jS_8</string>
	<key>GCM_SENDER_ID</key>
	<string>1052480759470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.kedil.manuals</string>
	<key>PROJECT_ID</key>
	<string>manuals-bd6aa</string>
	<key>STORAGE_BUCKET</key>
	<string>manuals-bd6aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052480759470:ios:24b647ea3a6fd0bb2e2f3f</string>
</dict>
</plist>